<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default_layout}" lang="ko">

<div layout:fragment="content" class="content">

    <style>

        .sort_type span {
            cursor: pointer;
            text-transform: uppercase;
            width: 6rem;
            display: inline-block;
            /*border: 2px solid #ddd;*/
            text-align: center;
            height: 32px;
            line-height: 28px;
            font-size: 14px;
            margin-bottom: 3px;
            color: black;
            font-weight: lighter;
        }

        .sort_type span.active {
            /*edited hun*/
            /*border-color: #525151;*/
            color: black;
            font-weight: bold;
            /*color: #fff;*/
        }

        .tags a.active {
            color: white;
            background-color: #001c63;
        }

        /*mobile*/
        @media (max-width: 767px) {
            #search-menu div[class^="col-"] {
                width: 100%;
            }
        }
    </style>


    <div class="breadcrumb_section bg_gray page-title-mini">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-title">
                        <h1 style="font-size: 200%">SAFEWAY AUTO</h1>
                        <p style="font-size: 150%; margin-top: 5px;">AJ International Traders is an export oriented
                            company of used vehicles and auto parts. </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb justify-content-md-end">
                        <li class="breadcrumb-item"><a href="/">HOME</a></li>
                        <li class="breadcrumb-item active">SERVICES</li>
                        <li class="breadcrumb-item active">WEEKLY AUCTION</li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>

    <div class="section" style="padding-left: 20px; padding-right: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row mb-3" id="blank-space">
                        <br/>

                    </div>
                    <div class="row" id="text-space">
                        <h1 style="font-family: 'Ubuntu', sans-serif;">Government Tender Request Form : Used Car Search Inquiry</h1>
                        <br>
                        <span style="font-size: 20px; padding-left: 0px">
                            To assist us in finding the perfect vehicle that aligns with your preferences and requirements, please take a moment to complete the following inquiry form. Your responses will help us tailor our search to meet your specific needs. Rest assured, all information provided will be kept confidential.
                            <br>
                            <br>
                            <br>
                        </span>

                        <span style="font-size: 25px; padding-left: 0px">
                            Personal Information
                            <br>
                            <br>
                        </span>

                        <li style="font-size: 18px;">Quality Assurance</li>
                        <span style="padding-left: 35px">
                            Name: [Your Full Name]
                            <br><br>
                        </span>
                        <li style="font-size: 18px;">Diverse Inventory</li>
                        <span style="padding-left: 35px">
                            Contact Number: [Your Phone Number]
                            <br><br>
                        </span>
                        <br><br>
                        <li style="font-size: 18px;">Global Reach</li>
                        <span style="padding-left: 35px">
                            Email Address: [Your Email Address]
                            <br><br>
                        </span>
                        <br>
                        <br>
                        <hr>
                        <br>

                        <span style="font-size: 25px; padding-left: 0px">
                            Vehicle Preferences
                            <br>
                            <br>
                        </span>
                        <ol>
                            <li style="font-size: 18px;">Make/Brand Preference</li>
                            <span>
                                [e.g., Hyundai, Kia, Chevrolet, Ssangyong, Chevrolet.]
                                <br><br>
                            </span>
                            <li style="font-size: 18px;">Model Preference</li>
                            <span>
                                [e.g., Avante, Santafe, Sportage, etc.]
                                <br><br>
                            </span>
                            <li style="font-size: 18px;">Year Range</li>
                            <span>
                                [e.g., 2015 - 2020]
                                <br><br>
                            </span>
                            <li style="font-size: 18px;">Budget Range</li>
                            <span>
                                [e.g., $10,000 - $15,000]
                                <br><br>
                            </span>
                            <li style="font-size: 18px;">Transmission Preference</li>
                            <span>
                                [Automatic / Manual]
                                <br><br>
                            </span>
                            <li style="font-size: 18px;">Mileage Range</li>
                            <span>
                                [e.g., Less than 100,000 km]
                                <br><br>
                            </span>
                            <li style="font-size: 18px;">Color Preference</li>
                            <span>
                                [e.g., Blue, Silver, Black, etc.]
                                <br><br>
                            </span>
                            <li style="font-size: 18px;">Volumes</li>
                            <span>
                                [e.g., 10~100]
                                <br><br>
                            </span>
                            <li style="font-size: 18px;">Additional Features (if any)</li>
                            <span>
                                [e.g., Navigation system, Leather seats, Sunroof, etc.]
                                <br><br>
                            </span>
                        </ol>
                        <br><br>
                        <br>
                        <br>
                        <hr>
                        <br>

                        <span style="font-size: 25px; padding-left: 0px">
                            Intended Use
                            <br>
                            <br>
                        </span>

                        <li style="font-size: 18px;">Quality Assurance</li>
                        <span style="padding-left: 35px">
                            Primary Use: [Daily commute, Family vehicle, Off-road, etc.]
                            <br><br>
                        </span>
                        <li style="font-size: 18px;">Diverse Inventory</li>
                        <span style="padding-left: 35px">
                            Special Requirements: [Any specific needs or considerations for the intended use]
                            <br><br>
                        </span>
                        <br>
                        <br>
                        <hr>
                        <br>


                        <span style="font-size: 18px; padding-left: 0px">
                            Additional Comments or Preferences: [Feel free to provide any additional details or specific preferences that will help us refine our search.]<br><br>
                            Submit Your Inquiry: Please return this form to us at your earliest convenience. You can [email it to safewayauto8@gmail.com]. Our team will promptly review your preferences and initiate a tailored search to find the perfect used car for you.<br><br>
                            Thank you for choosing Safeway Auto. We look forward to assisting you in finding the ideal vehicle that suits your needs.
                            Best Regards,
                        </span>



                        <br/>
                        <br/>
                    </div>
                </div>


                <div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0 side_left">
                    <div class="sidebar">
                        <div class="widget">
                            <h5 class="widget_title">SERVICES</h5>
                            <div class="tags" style="display:grid">
                                <a th:classappend="${category == 'DAILY_ACTION' ? 'active' : ''}"
                                   th:href="@{/daily-auction}">
                                    DAILY AUCTION
                                </a>
                                <a th:classappend="${category == 'WEEKLY_AUTION' ? 'active' : ''}"
                                   th:href="@{/weekly-auction}">
                                    WEEKLY AUCTION
                                </a>
                                <a th:classappend="${category == 'DEALERSHIPS' ? 'active' : ''}"
                                   th:href="@{/dealerships}">
                                    DEALERSHIPS
                                </a>
                                <a th:classappend="${category == 'STOCKS' ? 'active' : ''}"
                                   th:href="@{/stocks}">
                                    STOCKS
                                </a>
                                <a th:classappend="${category == 'GOVERNMENT_TENDER' ? 'active' : ''}"
                                   th:href="@{/government-tender}">
                                    GOVERNMENT TENDER
                                </a>
                                <a th:classappend="${category == 'PRECONDITIONING' ? 'active' : ''}"
                                   th:href="@{/preconditioning}">
                                    PRECONDITIONING
                                </a>
                                <script>
                                    $(document).ready(function () {
                                        $('.tags a').click(function () {
                                            $('.tags a').removeClass('active');
                                            $(this).addClass('active');
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</html>