<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default_layout}" lang="ko">

<div layout:fragment="content" class="content">

    <style>

        .sort_type span {
            cursor: pointer;
            text-transform: uppercase;
            width: 6rem;
            display: inline-block;
            /*border: 2px solid #ddd;*/
            text-align: center;
            height: 32px;
            line-height: 28px;
            font-size: 14px;
            margin-bottom: 3px;
            color: black;
            font-weight: lighter;
        }

        .sort_type span.active {
            /*edited hun*/
            /*border-color: #525151;*/
            color: black;
            font-weight: bold;
            /*color: #fff;*/
        }

        .tags a.active {
            color: white;
            background-color: #001c63;
        }

        /*mobile*/
        @media (max-width: 767px) {
            #search-menu div[class^="col-"] {
                width: 100%;
            }
        }
    </style>


    <div class="breadcrumb_section bg_gray page-title-mini">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-title">
                        <h1 style="font-size: 200%">SAFEWAY AUTO</h1>
                        <p style="font-size: 150%; margin-top: 5px;">AJ International Traders is an export oriented
                            company of used vehicles and auto parts. </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb justify-content-md-end">
                        <li class="breadcrumb-item"><a href="/">HOME</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                        <li class="breadcrumb-item active">COMPANY PROFILE</li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row mb-3" id="blank-space">
                        <br/>

                    </div>
                    <div class="row" id="text-space">
                        <span style="font-size: 18px; padding-left: 0px">
                            Welcome to Safeway Auto, your trusted partner in the global used car market! At Safeway Auto, we specialize in sourcing and exporting high-quality used cars to customers worldwide. With a commitment to excellence, transparency, and customer satisfaction, we have established ourselves as a leading player in the international used car export industry.
                            <br>
                            <br>
                            <br>
                        </span>
                        <span style="font-size: 25px; padding-left: 0px">Our Mission</span>
                        <br>
                        At Safeway Auto, our mission is to connect customers around the globe with top-notch, pre-owned vehicles. We strive to provide a seamless and reliable car export experience, ensuring that our clients receive vehicles that meet their expectations and international standards.
                        <br>
                        <br>
                        <br>

                        <span style="font-size: 25px; padding-left: 0px">
                            What Sets Us Apart
                            <br>
                            <br>
                        </span>

                        <li style="font-size: 18px;">Quality Assurance</li>
                        <span style="padding-left: 35px">
                            We meticulously inspect and select each vehicle in our inventory to ensure it meets our stringent quality standards. Our team of experienced technicians conducts thorough inspections, covering everything from mechanical performance to cosmetic details.
                            <br><br>
                        </span>
                        <li style="font-size: 18px;">Diverse Inventory</li>
                        <span style="padding-left: 35px">
                            Safeway Auto boasts a diverse inventory of used cars from various makes and models. Whether you're looking for a compact city car, a robust SUV, or a luxurious sedan, we have a wide range of options to suit your preferences.
                            <br><br>
                        </span>
                        <br><br>
                        <li style="font-size: 18px;">Global Reach</li>
                        <span style="padding-left: 35px">
                            With a global network of partners, we can facilitate used car exports to numerous countries. Our experienced logistics team ensures that your chosen vehicle is shipped safely and efficiently to its destination, handling all the necessary paperwork and customs processes.
                            <br><br>
                        </span>
                        <br><br>
                        <li style="font-size: 18px;">Transparent Transactions</li>
                        <span style="padding-left: 35px">
                            We believe in transparency throughout the car export process. Our dedicated customer support team is always ready to assist you with any inquiries, providing timely updates on your shipment and addressing any concerns you may have.
                            <br><br>
                        </span>
                        <br>
                        <br>
                        <br>

                        <span style="font-size: 25px; padding-left: 0px">
                            Our Services
                            <br>
                            <br>
                        </span>
                        <li style="font-size: 18px;">Vehicle Sourcing</li>
                        <span style="padding-left: 35px">
                            Tell us your requirements, and we'll find the perfect used car for you from our extensive network of suppliers.
                            <br><br>
                        </span>
                        <br><br>
                        <li style="font-size: 18px;">Inspection and Certification</li>
                        <span style="padding-left: 35px">
                            Our thorough inspection process guarantees that each vehicle meets our high standards. We provide detailed inspection reports and certifications for your peace of mind.
                            <br><br>
                        </span>
                        <br><br>
                        <li style="font-size: 18px;">Logistics and Shipping</li>
                        <span style="padding-left: 35px">
                            From export documentation to secure shipping, our logistics team handles every aspect of the export process to ensure a smooth and hassle-free experience.
                            <br><br>
                        </span>
                        <br><br>
                        <li style="font-size: 18px;">Customer Support</li>
                        <span style="padding-left: 35px">
                            Our dedicated customer support team is available to assist you at every step. Whether you have questions about our inventory, the export process, or shipping details, we are here to help.
                            <br><br>
                        </span>
                        <br>
                        <br>
                        <br>

                        <span style="font-size: 18px; padding-left: 0px">
                            Choose Safeway Auto for a reliable and trustworthy partner in the global used car market. Experience the joy of driving a quality, pre-owned vehicle sourced and exported with care.<br> Contact us today to explore our inventory and embark on a journey with Safeway Auto – where quality meets excellence in used car exports!
                        </span>

                        <br>
                        <br>
                    </div>
                    <div class="row">
                    </div>
                </div>


                <div class="col-lg-3 order-lg-first mt-4 pt-2 mt-lg-0 pt-lg-0 side_left">
                    <div class="sidebar">
                        <div class="widget">
                            <h5 class="widget_title">ABOUT US</h5>
                            <div class="tags" style="display:grid">

                                <a th:classappend="${category == 'COMPANY PROFILE' ? 'active' : ''}"
                                   th:href="@{/company-profile}">
                                    COMPANY PROFILE
                                </a>
                                <a th:classappend="${category == 'CONTACT_US' ? 'active' : ''}" th:href="@{/contact-us}">
                                    CONTACT US
                                </a>
                                <script>
                                    $(document).ready(function () {
                                        $('.tags a').click(function () {
                                            $('.tags a').removeClass('active');
                                            $(this).addClass('active');
                                        });
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</html>