<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- START FOOTER -->
<footer class="footer_white" th:fragment="footerFragment" th:unless="${disableFooter == true}">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="widget">
                        <img class="widget_title" th:src="@{/user/assets/image/safeway_logo.png}" alt="logo" width="250"/>
                    </div>
                </div>

                <div class="col-lg pc-show">
                    <p class="mb-md-0 text-center text-md-start" style="font-size: 100%;">
                        <br>
                        SAFEWAY AUTO., Ltd. | CEO: JAY CHOI | Business Registration Number : 431-81-02090<br>
                        Address: 36-5 HANGDONG 7GA JUNGGU INCHEON REPUBLIC OF KOREA<br>
                        E-MAIL : safewayauto8@gmail.com<br>
                        Copyright © SAFEWAY AUTO CO., LTD. | All Rights Reserved
                    </p>
                </div>
<!--                <div class="col-lg-2 col-md-3 col-sm-3 pc-show" sec:authorize="isAnonymous()">-->
<!--                    <div class="widget">-->
<!--                        <h6 class="widget_title">SAFEWAY AUTO</h6>-->
<!--                        <ul class="widget_links">-->
<!--                            <li><a href="/mypage/notice">COMPANY PROFILE</a></li>-->
<!--                            <li><a href="/mypage/cs">CONTACT US</a></li>-->
<!--                            <li><a href="/introduce"></a>Services</li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-2 col-md-3 col-sm-3 pc-show">-->
<!--                    <div class="widget">-->
<!--                        <h6 class="widget_title">이쪽 블럭은 형이랑 상의</h6>-->
<!--                        <ul class="widget_links">-->
<!--                            <li><a href="/shop-list?&location=서울">서울특별시</a></li>-->
<!--                            <li><a href="/shop-list?&location=경기">경기도</a></li>-->
<!--                            <li><a href="/shop-list?&location=인천">인천광역시</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-2 col-md-3 col-sm-3 pc-show">-->
<!--                    <div class="widget">-->
<!--                        <h6 class="widget_title">쪽 블럭은 형이랑 상의</h6>-->
<!--                        <ul class="widget_links">-->
<!--                            <li><a href="/content-list">전체</a></li>-->
<!--                            <li><a href="/content-list?category=편집샵 스토리">편집샵 스토리</a></li>-->
<!--                            <li><a href="/content-list?category=패션">패션</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->

            </div>
        </div>
<!--    <div class="bottom_footer border-top-tran">-->
<!--        <div class="container">-->
<!--            <div class="row">-->
<!--                &lt;!&ndash;                <div class="col-md-6">&ndash;&gt;-->
<!--                <p class="mb-md-0 text-center text-md-start" style="font-size: 90%;">-->
<!--                    SAFEWAY AUTO., Ltd. | CEO: JAY CHOI | Business Registration Number : 431-81-02090<br>-->
<!--                    Address: 36-5 HANGDONG 7GA JUNGGU INCHEON REPUBLIC OF KOREA<br>-->
<!--                    E-MAIL : safewayauto8@gmail.com<br>-->
<!--                    Copyright © SAFEWAY AUTO CO., LTD. | All Rights Reserved-->
<!--                </p>-->
<!--                &lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</footer>
<!-- END FOOTER -->

<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>
</html>